@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin-ext');



body {
	background: #00b894; 
}
table {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
}

tr {
	text-align: center;
	background: #008261;
	width: 150px;
	height: 150px;
}
button, input {
	width: 90%;
	height: 90%;
	outline: none;
	background: transparent	;
	border: none;
	justify-content: center;
}
ol {
	font-family: "Staatliches"
}
.title {
	width: 200px;
	font-size: 100px;
	color: white;
	text-align: center;
	position: absolute;
	margin-left: 5%; 
	top: 3%;
	display: block;
}
.result {
	font-size: 50px;
	color: #2c3e50;
	text-align: center;
	float: right;
	width: 300px;
	position: absolute;
	right: 5%;
}
.input0 {
	background: white;
	height: 50px;
	font-size: 20px;
	text-align: center;
}
p {
	font-size: 35px;
	color: #2980b9;
	margin: 1px;
}
.reset {
	background: #2c3e50;
	height: 40px;
	width: 100px;
	font-size: 20px;
	font-weight: bold;
	margin: 11%;
}
.punoi {
	font-size: 22px;
	font-family: "ZCOOL QingKe HuangYou";
	background: #f39c12;
	padding: 10px;
	position: absolute;
	top: 88%;
	margin-left: 8px;
}
img {
	width: 140px;
	height: 140px;
}
table, tr, td{
	border-collapse: collapse;
	border: 10px;
	color: white;
}
.up{
	border-bottom: solid;
	border-right: solid;
	border-collapse: collapse;
}
.right {
	border-bottom: solid;
	border-left: solid;
	border-collapse: collapse;
}
.center {
	border: solid;
}
.left {
	border-bottom: solid;
	border-right: solid;
	border-top: solid;
}
.down {
	border-left: solid;
	border-right: solid;
}

#popup {
	position: absolute;
	width: 800px;
	height: 500px;
	color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 200px;
	font-family: "ZCOOL QingKe HuangYou";
	text-align: center;
	opacity: .8;
	visibility: hidden;
}
#o-won {
	position: absolute;
	left: 23%;
	top: 24%;
	visibility: hidden;
}
#x-won {
	position: absolute;
	left: 23%;
	top: 24%;	
	visibility: hidden;
}
#draw {
	position: absolute;
	left: 30%;
	top: 24%;
	visibility: hidden;
}
#again {
	position: absolute;
	width: 150px;
	height: 70px;
	padding: 20px;
	background-color: red;
	border: black solid 3px;
	left: 40%;
	top: 75%;
	font-size: 20px;
	cursor: pointer;
}

a {
	font-family: "ZCOOL QingKe HuangYou";
	font-size: 80px;
	color: #2c3e50;
	text-decoration: none;
}
.a1 {
	position: absolute;
	top: 40%;
	left: 15%;
}
.a2 {
	position: absolute;
	top: 40%;
	left: 60%;
}

h2 {
	color: #575fcf;
	font-size: 50px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	position: absolute;
	margin: 0;
	padding: 10px;
}
.plays{
	font-size: 35px;
	position: absolute;
	padding: 10px;
	top: 10%;

}
@media (max-width: 1000px) {
	.title {
		position: absolute;
		margin-top: 10px;
		font-size: 60px;
		width: 70%;
		right: -45%;
	}
	.result {
		position: absolute;
		width: 100%;
		top: 110%;
		left: 20%;
	}
	table {
		width: 300px;
		height: 300px;
		position: absolute;
		justify-content: center;
		top: 67%;
		margin-bottom: 100px;
		margin-left: 23%;
	}
	.punoi {
		justify-content: center;
		text-align: center;
		top: 208%;
		margin: 20px;
		left: 25%;
	}
	a {
		display: block;
		font-size: 30px;
	}
	.a1 {
		position: absolute;
		top: 40%;
	}
	.a2 {
		position: absolute;
		top: 70%;
		left: 25%;
	}
	#popup {
		position: absolute;
		width: 400px;
		height: 150px;
		font-size: 150px;
		top: 40%;
		left: 65%;
	}
	#again {
		position: absolute;
		left: 45%;
		top: 240%;
	}
}